*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 transition: all .15s ease;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: gainsboro;
}
.grid-container {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.for-image img{
    width: 80%;
    height: 200px;
    object-fit:contain;

}
